p{
    color: rgb(112, 8, 8);
    background-color: lightslategray;
}
h1{
    color: rgb(81, 233, 228);
    text-align: center;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: chartreuse;
}